:root{
    --red:#BE0412;
    --whi:#fff;
    --black:#000000;
}
*{
    color: #fff !important;
}
.meisa__productos{
   display: flex;
   flex-direction: row;
   padding: 3rem;
   gap: 2rem;
}
.meisa__prod__one{
    background-color: #BE0412;
    width: 30%;
}
.meisa__prod__two{
    background: #000000;
    width: 70%;
}


.navbar{
    display: flex;
    align-items: center;
    position: relative;
}
.navbar__menu{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:768px){
    body.active{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .meisa__productos{
        display: flex;
        flex-direction: column;
     }
.navbar__link{
    margin-top: 3rem;
}
    .navbar__menu{
        position: absolute;
        width: 100%;
        top: -1000px;
    }
    .navbar__menu.active{
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: red;
        margin-top: 2rem;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        background: #000;
        display: block;
        cursor: pointer;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%) ;
        -webkit-transform: translate(5%,20%) ;
        -moz-transform: translate(5%,20%) ;
        -ms-transform: translate(5%,20%) ;
        -o-transform: translate(5%,20%) ;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
        -webkit-transform:translateY(8px) rotate(45deg);
        -moz-transform:translateY(8px) rotate(45deg);
        -ms-transform:translateY(8px) rotate(45deg);
        -o-transform:translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
}