.margin__home__meisa{
    max-width: 1200px;
    display: block;
    margin: auto;
}
@media screen and (max-width:1500px) {
    .margin__home__meisa{
        max-width: 70% !important;
    }
}
@media screen and (max-width:800px) {
    .margin__home__meisa{
        max-width: 100% !important;
    }
    .margin__home__meisa__resp{
        max-width: 75% !important;
        display: block;
        margin: auto;
    }
}